body{
    background: url('../img/live2.png') left top fixed;
    background-size: cover;
}
section{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.button{
    float: left;
    width: 6%;
    height: 90px;
    padding: 10px;
    margin: .4%;
    border:3px solid #000;
    background: rgba(0, 0, 0, 0.3);
    border-radius:10px;
    text-align:center;
    line-height: 1.4;
    transition: all .07s ease;
}

.playing{
    transform: scale(1.1);
    border-color: gold;
    box-shadow: gold 0 0 10px;
}

.button kbd{
    font-size: 50px;
    color:gold;
}
.button p{
    font-size: 18px;
    color: white;
}

footer{
    width: 100vw;
    position: absolute;
    bottom:10px;
}
footer p{
    color: #FFF;
    padding: 10px;
    text-align: center;
}
